* {
  font-family: "Lucida Console", Monaco, monospace;
}

body {
  color: rgb(88, 117, 201);

}

.nav li:hover, #nav:hover {
  background: silver;
}

.navbar-header {
  margin: 0;
  /* padding-left: 25px; */
}

.btn {
  margin: 10px;
}

.row {
  margin-bottom: 5px;
  padding-bottom: 5px;
}
